<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup 3</title>
    <link rel="stylesheet" th:href="@{}" />
<!--    <style type="text/css">-->
<!--        html,-->
<!--        body {-->
<!--            height: 100%;-->
<!--        }-->

<!--        * {-->
<!--            box-sizing: border-box;-->
<!--        }-->

<!--        body {-->
<!--            margin: 0;-->
<!--            display: grid;-->
<!--            place-items: center;-->
<!--            background: #faf8ff;-->
<!--            font-family: "Euclid Circular A";-->
<!--            text-align: center;-->
<!--        }-->

<!--        .card {-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            width: 360px;-->
<!--            height: 490px;-->
<!--            padding: 80px 0 0;-->
<!--            border-radius: 10px;-->
<!--            background: #ffffff;-->
<!--            box-shadow: 0 20px 150px rgb(0 0 0 / 5%);-->
<!--        }-->

<!--        img {-->
<!--            margin: 0 auto 30px;-->
<!--            width: 140px;-->
<!--            height: 140px;-->
<!--            object-fit: contain;-->
<!--        }-->

<!--        h2 {-->
<!--            color: #2f2e41;-->
<!--            margin: 0 0 6px;-->
<!--        }-->

<!--        h3 {-->
<!--            color: #69687a;-->
<!--            margin: 0 0 24px;-->
<!--            font-weight: 400;-->
<!--            font-size: 14px;-->
<!--            align-self: stretch;-->
<!--        }-->

<!--        input,-->
<!--        button {-->
<!--            display: block;-->
<!--            height: 48px;-->
<!--            width: 270px;-->
<!--            margin: 0 40px;-->
<!--            border-radius: 4px;-->
<!--            font-size: 16px;-->
<!--            font-family: inherit;-->
<!--            outline: none;-->
<!--            text-align: center;-->
<!--        }-->

<!--        input {-->
<!--            border-width: 1px;-->
<!--            border-color: rgba(0, 0, 0, 0.16);-->
<!--            padding: 12px;-->
<!--            margin-bottom: 8px;-->
<!--        }-->

<!--        input::placeholder {-->
<!--            color: rgba(0, 0, 0, 0.24);-->
<!--        }-->

<!--        button {-->
<!--            background: #9563ff;-->
<!--            color: #f9f9f9;-->
<!--            border: 0;-->
<!--            cursor: pointer;-->
<!--            transition: 0.175s;-->
<!--        }-->

<!--        button:disabled {-->
<!--            background: #e1e0e8;-->
<!--            color: #bbbac5;-->
<!--            cursor: not-allowed;-->
<!--        }-->

<!--        button.secondary {-->
<!--            background: transparent;-->
<!--            color: #7e7d8a;-->
<!--        }-->

<!--        button[type="submit"] {-->
<!--            margin-bottom: 8px;-->
<!--        }-->

<!--        .swiper {-->
<!--            width: 100%;-->
<!--        }-->
<!--    </style>-->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
</head>
<body>
<!-- Slider main container -->
<div class="card">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img th:src="@{/assets/1.svg}" />
                <h2>Welcome</h2>
                <h3>Let's create your username</h3>
                <input
                        spellcheck="false"
                        oninput="checkValid(event)"
                        type="text"
                        placeholder="e.g. johnsmith"
                />
                <button disabled type="button" onclick="gotoSlide(1)">Next</button>
            </div>
            <div class="swiper-slide">
                <div className="image-wrapper">
                    <img src="2.svg" />
                </div>
                <h2>Phone</h2>
                <h3>Enter your Phone</h3>
                <input
                        spellcheck="false"
                        oninput="checkValid(event)"
                        type="text"
                        placeholder="Your Phone"
                />
                <button disabled type="button" onclick="gotoSlide(2)">Next</button>
            </div>
            <div class="swiper-slide">
                <div className="image-wrapper">
                    <img src="2.svg" />
                </div>
                <h2>Security</h2>
                <h3>Enter a strong password</h3>
                <input
                        oninput="checkValid(event)"
                        type="password"
                        placeholder="Your password"
                />
                <button disabled type="button" onclick="gotoSlide(3)">Next</button>
            </div>
            <div class="swiper-slide">
                <div className="image-wrapper">
                    <img src="3.svg" />
                </div>
                <h2>Finish</h2>
                <h3>You're all good to go</h3>
                <button type="submit">Complete</button>
                <button class="secondary" onclick="restart()">Restart</button>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!--<script src="main.js"></script>-->
<script>
    const swiper = new Swiper(".swiper", {
        // Optional parameters
        speed: 500,
        allowTouchMove: false,
    });

    const gotoSlide = (index) => {
        swiper.slideTo(index);
    };

    const restart = () => {
        const inputs = document.querySelectorAll("input");
        const buttons = document.querySelectorAll("button[type=button]");

        buttons.forEach((button) => {
            button.disabled = true;
        });

        inputs.forEach((input) => {
            input.value = "";
        });

        gotoSlide(0);
    };

    const checkValid = (event) => {
        event.target.nextElementSibling.disabled = !event.target.value.length;
    };
</script>
</body>
</html>