<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <section class="bg-gray-50">
      <div
        class="px-4 mx-auto max-w-screen grid lg:grid-cols-2 gap-8 lg:gap-16"
      >
        <div class="flex flex-col justify-center">
          <img th:src="@{/images/register.png}" />
        </div>
        <div>
          <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
            data-aos="fade-left"
          >
            <a
              href="#"
              class="mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
            >
              <img
                class="w-32 h-16 mr-2"
                th:src="@{/images/logo.png}"
                alt="logo"
              />
            </a>
            <div class="w-full bg-white rounded-lg shadow">
              <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1
                  class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
                >
                  Register your account!
                </h1>
                <form
                  class="space-y-4 md:space-y-6"
                  action=""
                  method="POST"
                  id="form"
                >
                  <div>
                    <label
                      for="username"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >Name</label
                    >
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                      placeholder="your name"
                      required=""
                    />
                    <div class="mt-2 hidden" id="alertName">
                      <div
                        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
                        role="alert"
                      >
                        <svg
                          class="flex-shrink-0 inline w-4 h-4 mr-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                          />
                        </svg>
                        <span class="sr-only">Info</span>
                        <div id="textNameAlert">
                          Change a few things up and try submitting again.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >Email</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                      placeholder="name@company.com"
                      required=""
                    />
                    <div class="mt-2 hidden" id="alertEmail">
                      <div
                        class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
                        role="alert"
                      >
                        <svg
                          class="flex-shrink-0 inline w-4 h-4 mr-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                          />
                        </svg>
                        <span class="sr-only">Info</span>
                        <div id="textEmailAlert">
                          Change a few things up and try submitting again.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-full sm:w-auto">
                    <button
                      type="submit"
                      id="submitRegister"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center transition duration-300"
                    >
                      Submit
                    </button>
                  </div>
                  <p class="text-sm font-light text-gray-500">
                    Already have an account?
                    <a
                      href="#"
                      class="font-medium text-primary-600 hover:underline"
                      >Login here</a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      $("#submitRegister").on("click", function (e) {
        e.preventDefault();
        $.ajax({
          url: "http://localhost:9000/v1/auth/registration-validate",
          type: "GET",
          data: {
            name: $("#name").val(),
            email: $("#email").val(),
          },
          success: function (data) {
            if (data) {
              if (data.name) {
                $("#alertName").removeClass("hidden");
                $("#textNameAlert").text(data.name);
              } else {
                $("#alertName").addClass("hidden");
              }

              if (data.email) {
                $("#alertEmail").removeClass("hidden");
                $("#textEmailAlert").text(data.email);
              } else {
                $("#alertEmail").addClass("hidden");
              }
            } else {
              $("#form").submit();
            }
          },
        });
      });
    </script>
  </body>
</html>
