<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link
            rel="shortcut icon"
            th:href="@{/image/cat.png}"
            type="image/x-icon"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="content">
    <form th:object="${registrationRequest}" th:action="@{/registration/{id}(id=${id})}" method="post">
        <div class="text">
            Registration
        </div>
        <div class="field">
            <input th:field="*{username}" type="text" required>
            <span class="fas fa-user-ninja"></span>
            <label>Username</label>
        </div>
        <div class="field">
            <input th:field="*{password}" type="password" required>
            <span class="fas fa-envelope"></span>
            <label>Password</label>
        </div>
        <div class="field">
            <input th:field="*{phone}" type="text" required>
            <span class="fas fa-user-ninja"></span>
            <label>Phone number</label>
        </div>
        <button type="submit" id="registrationBtn">Save</button>
    </form>
</div>
</body>
</html>
