<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/verif-page.css}">
    <title>Document</title>
</head>

<body>
    <div class="parent clearfix">
        <div class="bg-illustration">
            <img src="https://www.netapp.com/media/big-%282%29_tcm19-33420.png?v=459790" alt="logo">

            <div class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="verif">
            <div class="container">
                <h1>Complete your account<br />verification step</h1>

                <div class="verif-form">
                    <form th:object="${registrationRequest}" th:action="@{/registration/{id}(id=${id})}" method="post">
                        <input type="text" placeholder="Username" th:field="*{username}">
                        <input type="password" placeholder="Password" th:field="*{password}">
                        <input type="text" placeholder="Phone Number" th:field="*{phone}">

                        <button type="submit">Verify Now</button>

                    </form>
                </div>

            </div>
        </div>
    </div>

</body>

</html>